@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="align-top">Área Administrativa</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <br />

    <br />
    <div class="row" style="justify-content:center">
        <div class="col-6">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <!-- small box -->
                    <div class="small-box" style="background: linear-gradient(45deg,#4099ff,#73b4ff)">
                        <div class="inner">
                            <h3 id="qtdVisitas">@ViewBag.TotalVisitas</h3>
                            <p>Total de Visitas ao Instagram</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <!-- small box -->
                    <div class="small-box" style="background: linear-gradient(45deg,#2ed8b6,#59e0c5)">
                        <div class="inner">
                            <h3 id="qtdResidencias">@ViewBag.TotalResidencias</h3>
                            <p>Total de Imóveis Cadastrados</p>
                        </div>
                        <div class="icon">
                            <i class="nav-icon far fa-building"><ion-icon name="contacts"></ion-icon></i>
                        </div>
                        @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <div class="card" >
                <div class="card-header" style="background: linear-gradient(45deg,#FF5370,#ff869a)">
                    <h3 class="card-title">Quantidade de Visitas por Imóvel</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="donutChart" style="height: 230px; min-height: 230px; display: block; width: 852px;" width="852" height="230" class="chartjs-render-monitor"></canvas>
                </div>                
            </div>
        </div>
    </div>
</section>